<div class="product-modal {{randomString}}">
  <!-- WINDOW -->
  <div class="product-modal__window">
    <div class="product-modal__window-mask"></div>
    <!-- HEADER -->
    <div class="product-modal__header">
      <div class="product-modal__header-left">
        {{#if isInsideOffer}}
          <img
            src="./images/icons/back-to-offer.svg"
            alt=""
            class="product-modal__back-to-offer"
          />
        {{/if}}

        <div class="product-modal__title">
          {{name}}
        </div>
      </div>
      <div class="product-modal__header-right">
        <div class="product-modal__close-btn">
          <img
            src="./images/icons/modal-close.svg"
            alt=""
            class="product-modal__close-btn-img"
          />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="product-modal__body">
      {{#if images}}
        <!-- PHOTOS SLIDER -->
        <div class="product-modal__slider swiper-container">
          <div class="swiper-wrapper">
            <!-- SLIDES -->
            {{#each images}}
              <!-- SLIDE ITEM -->
              <div class="swiper-slide">
                <div class="product-modal__slide">
                  <img src="{{this}}" alt="" class="product-modal__slide-img" />
                </div>
              </div>
            {{/each}}
          </div>
          <!-- PAGINATION -->
          <div class="swiper-pagination"></div>
        </div>
      {{/if}}
      {{#if comments}}
        <!-- DESCRIPTION -->
        <div class="product-modal__description">
          {{comments}}
        </div>
      {{/if}}
      {{#if showOptionsDiv}}
        <!-- PRODUCT OPTIONS -->
        <div class="product-modal__options">
          <!-- PRODUCT VARIANT -->
          {{#if variant}}
            {{#with variant}}
              <!-- OPTION -->
              <div
                class="product-modal__option js-product-modal__option-variant"
              >
                <!-- ACCORDION ITEM -->
                <div class="accordion__container accordion__container--smaller">
                  <div class="accordion__item">
                    <div class="accordion__header">
                      <div class="product-modal__option-header">
                        <!-- TOP AND BOTTOM COPY -->
                        <div class="product-modal__option-header-top">
                          {{mandatoryOrOptionalText}}
                        </div>
                        <div class="product-modal__option-header-bottom">
                          {{name}}
                        </div>
                        <div
                          class="product-modal__option-header-opened-container"
                        >
                          <div class="product-modal__option-header-opened-copy">
                            {{maxLimitText}}
                          </div>
                        </div>
                      </div>
                      <div class="accordion__right-side">
                        <div class="accordion__header-arrow">
                          <img
                            src="./images/icons/accordion-arrow.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="accordion__panel">
                      <div class="accordion__content">
                        <!-- PRODUCT OPTION ITEMS -->
                        <div class="product-modal__option-items">
                          {{#each variants}}
                            <!-- ITEM -->
                            <div class="product-modal__option-item">
                              <!-- LEFT -->
                              <div class="product-modal__option-item-left">
                                <div class="product-modal__option-icon">
                                  <div class="product-modal__option-icon-inner">
                                    <img
                                      src="./images/icons/checkmark.svg"
                                      alt=""
                                    />
                                  </div>
                                </div>
                                <div class="product-modal__option-name">
                                  {{this.name}}
                                </div>
                              </div>
                              <!-- RIGHT -->
                              <div class="product-modal__option-item-right">
                                <div class="product-modal__option-item-price">
                                  <span class="js-price-value">
                                    {{currency this.price}}
                                  </span>
                                </div>
                              </div>
                            </div>
                          {{/each}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/with}}
          {{/if}}
          {{! GROUP OPTIONS }}
          {{#each groupOptions}}
            <!-- OPTION -->
            <div
              class="product-modal__option js-product-modal__option-group-option"
            >
              <!-- ACCORDION ITEM -->
              <div class="accordion__container accordion__container--smaller">
                <div class="accordion__item">
                  <div class="accordion__header">
                    <div class="product-modal__option-header">
                      <!-- TOP AND BOTTOM COPY -->
                      <div class="product-modal__option-header-top">
                        {{this.mandatoryOrOptionalText}}
                      </div>
                      <div class="product-modal__option-header-bottom">
                        {{this.name}}
                      </div>
                      <div
                        class="product-modal__option-header-opened-container"
                      >
                        <div class="product-modal__option-header-opened-copy">
                          {{this.maxLimitText}}
                        </div>
                      </div>
                    </div>
                    <div class="accordion__right-side">
                      <div class="accordion__header-arrow">
                        <img src="./images/icons/accordion-arrow.svg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="accordion__panel">
                    <div class="accordion__content">
                      <!-- PRODUCT OPTION ITEMS -->
                      <div class="product-modal__option-items">
                        {{#each this.groupOption.ingredients}}
                          <!-- ITEM -->
                          <div class="product-modal__option-item">
                            <!-- LEFT -->
                            <div class="product-modal__option-item-left">
                              <div class="product-modal__option-icon">
                                <div class="product-modal__option-icon-inner">
                                  <img
                                    src="./images/icons/checkmark.svg"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div class="product-modal__option-name">
                                {{this.name}}
                              </div>
                            </div>
                            <!-- RIGHT -->
                            <div class="product-modal__option-item-right">
                              <div class="product-modal__option-item-price">
                                <span class="js-price-value">
                                  {{currency (lookup this.price 0)}}
                                </span>
                              </div>
                            </div>
                          </div>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if large_description}}
        <!-- LONG DESCRIPTION -->
        <div class="product-modal__long-description">
          <!-- TITLE -->
          <div class="product-modal__long-description-title-container">
            <img
              src="./images/icons/longdescription.svg"
              alt=""
              class="product-modal__long-description-icon"
            />
            <div class="product-modal__long-description-title">
              Περιγραφή
            </div>
          </div>
          <!-- RAW HTML -->
          <div class="product-modal__long-description-html">
            {{{large_description}}}
          </div>
          <!-- DISCLAIMER -->
          <div class="product-modal__long-description-disclaimer">
            Information is provided by
            {{storeName}}.
          </div>
        </div>
      {{/if}}
      {{#unless isMarketProduct}}
        <!-- USER COMMENTS -->
        <div class="product-modal__comments">
          <!-- TITLE -->
          <div class="product-modal__comments-title-container">
            <img
              src="./images/icons/comment.svg"
              alt=""
              class="product-modal__comments-icon"
            />
            <div class="product-modal__comments-title">
              Σχόλια
            </div>
          </div>
          <!-- TEXTAREA -->
          <div class="form-floating">
            <textarea
              class="form-control product-modal__comments-textarea"
              placeholder="Αφήστε το σχόλιό σας εδώ..."
              id="floatingTextarea"
            ></textarea>
            <label for="floatingTextarea">Αφήστε το σχόλιό σας εδώ...</label>
          </div>

        </div>
      {{/unless}}
    </div>
    <!-- ADD TO CART - ABSOLUTE POSITIONED -->
    <div class="product-modal__add-to-cart">
      <div class="product-modal__add-to-cart-inner">

        {{! QUANTITY IS NOT AVAILABLE FOR PRODUCT INSIDE OFFER }}
        {{#unless isInsideOffer}}
          <div class="product-modal__add-to-cart-qty">
            <div class="product-modal__add-to-cart-qty-minus-trigger"></div>
            <div class="product-modal__add-to-cart-qty-plus-trigger"></div>
            <div class="product-modal__add-to-cart-qty-minus">
              <img
                src="./images/icons/minus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-minus-img"
              />
            </div>
            <div class="product-modal__add-to-cart-qty-value">
              <div class="js-product-modal-qty">
                1
              </div>
            </div>
            <div class="product-modal__add-to-cart-qty-plus">
              <img
                src="./images/icons/plus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-plus-img"
              />
            </div>
          </div>
        {{/unless}}

        <div class="product-modal__add-to-cart-btn">
          <div class="d-flex mr-auto">
            <div class="product-modal__add-to-cart-btn-icon">
              <img
                src="./images/icons/add-to-cart.svg"
                alt=""
                class="product-modal__add-to-cart-btn-icon-img"
              />
            </div>

            {{! BECAUSE WE DONT HAVE QTY INSIDE THE OFFER WE ADD A COPY }}
            {{#if isInsideOffer}}
              <div class="ml-10">Προσθήκη</div>
            {{/if}}

          </div>
          <div class="d-flex ml-auto">
            <div class="product-modal__add-to-cart-btn-price">
              <div class="js-product-modal-final-price">
                {{currency basePrice}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-modal__zoom-images"></div>
