<div class="timeslot__section" data-type="{{type}}">
  <!-- TITLE -->
  <div class="timeslot__section-title">{{title}}</div>
  <!-- DESCRIPTION -->
  <div class="timeslot__section-description">
    {{description}}
  </div>
  <!-- DAYS -->
  <div class="timeslot__section-items js-days mb-30">
    {{#each days}}
      <div class="timeslot__section-item{{#if this.isUnavaible}} timeslot__section-item--unavailable{{/if}}" data-date="{{this.date}}">
        <div class="timeslot__section-item-inner">
          <div>{{this.day}}</div>
          <div>07/05</div>
        </div>
      </div>
    {{/each}}
  </div>
  <!-- ALL HOURS CONTAINER -->
  <div class="timeslot__section-items-hours-container">
    {{#each days}}
      <!-- HOURS 2021-07-31 -->
      <div
        class="timeslot__section-items d-none mb-10"
        data-date="{{this.date}}"
      >
        {{#each this.timeslots}}
          <div
            class="timeslot__section-item{{#if this.isUnavaible}} timeslot__section-item--unavailable{{/if}}"
            data-date="{{../date}}"
            data-from="{{this.from}}"
            data-to="{{this.to}}"
            data-slot-id="{{this.id}}"
          >
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
